# DIRECTUS 配置开始
# 数据库配置
DB_CLIENT=postgres
DB_HOST=db
DB_PORT=5432
DB_DATABASE=database_name
DB_USER=db_username
DB_PASSWORD=db_password

# Directus 核心配置
KEY=your-key
SECRET=your-secret


# PostgreSQL 配置
POSTGRES_DB=database_name
POSTGRES_PASSWORD=db_username
POSTGRES_USER=db_password


# Directus URL 配置
PUBLIC_URL=https://directus.daidai-preview.amis.hk
CORS_ENABLED=true
CORS_ORIGIN=https://daidai-preview.amis.hk
CORS_METHODS=GET,POST,PATCH,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=Content-Type,Authorization
CORS_CREDENTIALS=true


# Directus 初始管理员账户， First Admin User
ADMIN_EMAIL=rayhu007@gmail.com
ADMIN_PASSWORD=your-password
ADMIN_TOKEN=your-token

# DIRECTUS 配置结束
