# 本地开发用，部署的时候使用Docker，根目录下有环境文件传入

NODE_ENV=devevelopment
PORT=3000

# DIRECTUS
DIRECTUS_URL=http://localhost:8055
DIRECTUS_TOKEN=directus-token

ADMIN_EMAIL=yourname@gmail.com
ADMIN_PASSWORD=your-admin-password

# Azure 语音合成服务配置
AZURE_SPEECH_KEY=azure-key
AZURE_SPEECH_REGION=southeastasia

# OpenAI
OPENAI_API_KEY=sk-proj-key
